<div class="jumbotron">

  <div class="container">
      <div class="row">
          <div class="col-md-7 col-md-offset-3">
              <div class="login-panel panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">Comprar Material</h3>
                  </div>
                  <div class="panel-body">

                    <button type="button" ng-hide="showAddEditUser" ng-click="show()" class="btn  btn-primary  btn-lg  aw-btn-full-width">
                      Nova Compra
                    </button>

<button  ng-hide="showAddEditUser" type="button" value="Voltar" onClick="history.go(-1)" class="btn btn-warning btn-lg  aw-btn-full-width">Voltar
  <span  class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>
      </button>




  <form  ng-hide="!showAddEditUser" name="form" role="form" >


    <!-- Modal Dialog -->
   <div class="modal fade" id="confirmSave" role="dialog" aria-labelledby="confirmDeleteLabe" aria-hidden="true">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
           <h4 class="modal-title">Cadastrar Compra</h4>
         </div>
         <div class="modal-body">
           <p>Deseja Salvar ?</p>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
           <button type="button" class="btn btn-danger" data-dismiss="modal"  id="confirm"  ng-click="saveMorador(m)">Salvar</button>
         </div>
       </div>
     </div>
   </div>




    <div ng-show="form.material.$dirty" >
      <div  ng-show="form.material.$error.required" class="alert alert-danger" role="alert">
     <span>Campo Material é obrigatório</span></div>
    </div>

    <div ng-show="form.quantidade.$dirty" >
      <div  ng-show="form.quantidade.$error.required" class="alert alert-danger" role="alert">
     <span>Campo Quantidade é obrigatório</span></div>
    </div>


    <div ng-show="form.total.$dirty" >
      <div  ng-show="form.total.$error.required" class="alert alert-danger" role="alert">
     <span>Campo Valor é obrigatório</span></div>
    </div>



  <div class="form-group">
      <div ng-class="{'has-error': form.material$touched && (form.material.$error.required) , 'has-success':form.material.$valid}">
            <label for="modelo">Material:</label>
                <input class="form-control"  type="text" placeholder="Material" ng-model="m.material" required name="material">
             </div>
          </div>


 <div class="form-group input-group">
   <div class="form-group" ng-class="{'has-error': form.quantidade.$invalid ,'has-success': form.quantidade.$valid}">
     <label for="modelo">Quantidade:</label>
   <input for="cor" name="quantidade"   class="form-control"   type="text" placeholder="Quantidade" id="quantidade" ng-model="m.quantidade"
    autofocus required >
  </div>
 </div>



 <div class="form-group input-group">

     <label >Preço:</label>
   <input  name ="preco"   type="text" class="form-control"   placeholder="Preço" id ="preco" ng-model="m.preco"
    autofocus required >
  </div>
  <br>

     <button  class="btn btn-success btn-s"   type="submit" data-toggle="modal"  onBlur="calc()">
              <span class="glyphicon glyphicon-upload"></span> Calc</button>


  <div class="form-group input-group">
   <div class="form-group" ng-class="{'has-error': form.total.$invalid ,'has-success': form.total.$valid}">
     <label >Valor:</label>
   <input    type="text" class="form-control"   placeholder="valor"    name ="total" id = "total"ng-model="m.valor"
    autofocus required >
  </div>
 </div>


 <!--ng-disabled="form.$invalid"-->
       <button  class="btn btn-success btn-s"   type="submit" data-toggle="modal" data-target="#confirmSave">
              <span class="glyphicon glyphicon-upload"></span> Salvar </button>


                   <button type="reset"  class="btn btn-danger btn-s">
                <span class="glyphicon glyphicon-trash"></span>Limpar Nome</button>
          <button type="button" class="btn btn-success btn-s"  ng-click="hide()">Voltar</button>



  </form>
  <br><br>

  <div class="row">
                   <div class="col-lg-50">

                       <div class="table-responsive" ng-hide="showAddEditUser">
                           <table class="table table-bordered table-hover table-striped">

                             <div class="blocktext">

                               <div >

                                <div class="form-group input-group">

                               <input type="text" class="form-control"  ng-model="busca"
                                placeholder="Pesquise uma Descricao: " size="30"	maxlength="30" />
                                <span class="input-group-addon"><i class="fa fa-search"></i></span>


                                  </div>
                                </div>
                               </div>


                            <br/>
         <thead>
            <tr>
               <th>Dia</th>
               <th>Material</th>
               <th>Quantidade</th>
               <th>Preço</th>
               <th>Valor</th>

               <th>Editar</th>
               <th>Deletar</th>


        </tr>
      </thead>
      <tbody>
        <!--<tr ng-repeat="m in ms|filter:busca" class="active">-->

          <tr dir-paginate="m in ms|filter:busca |orderBy:sortKey:reverse|itemsPerPage:4">



          <td>{{ m.dia | date : "dd/MM/yyyy 'as' h:mma"  }}</td>
          <td>{{ m.material }}</td>
          <td>{{ m.quantidade }}</td>
          <td>{{ m.preco | currency: 'R$' }}</td>
          <td>{{ m.valor | currency: 'R$'}}</td>



          <td><button ng-click="editMorador(m)" class="btn btn-success btn-s"><span class="glyphicon glyphicon-ok"></span></button></td>
          <td><button ng-click="deleteModelo(m)" class="btn btn-success btn-s"><span class="glyphicon glyphicon-ok"></span></button></td>






       </tr>
      </tbody>
    </table>

              <dir-pagination-controls max-size="4" boundary-links="true"></dir-pagination-controls>

  </div>
</div>
</div>
